body {
    background: linear-gradient(to right, #ffdde1, #ee9ca7);
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 100px;
    overflow: hidden;
}

h1 {
    font-size: 30px;
    color: #fff;
}

button {
    padding: 15px 30px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    margin: 20px;
}

#si {
    background-color: #4CAF50;
    color: white;
}

#no {
    background-color: #ff4d4d;
    color: white;
    position: absolute;
}

#mensajeFinal {
    font-size: 28px;
    color: white;
    margin-top: 30px;
}
